.bg-__0f172a_{background:#0f172a}
.bg-__3b82f6_{background:#3b82f6}
.bg-__d1fae5_{background:#d1fae5}
.bg-__ef4444_{background:#ef4444}
.bg-__f1f5f9_{background:#f1f5f9}
.bg-white{background-color:rgba(255,255,255,var(--un-bg-opacity,1))}
.border-__f1f5f9_{border:#f1f5f9}
.border-_3px_{border:3px}
.border-b{border-bottom-width:var(--un-line-width-default,1px)}
.border-solid{border-style:solid}
.flex{display:flex}
.flex-col{flex-direction:column}
.flex-row{flex-direction:row}
.font-bold{font-weight:700}
.font-medium{font-weight:500}
.font-semibold{font-weight:600}
.h-100px{height:100px}
.h-44px{height:44px}
.h-48px{height:48px}
.h-90px{height:90px}
.i_bg-primary{background-color:var(--theme-color,#0957DE) !important}
.items-center{align-items:center}
.justify-between{justify-content:space-between}
.lh-1_6{line-height:1.6}
.m-auto{margin:auto}
.max-h-180px{max-height:180px}
.mb-12px{margin-bottom:12px}
.mb-16px{margin-bottom:16px}
.mb-20px{margin-bottom:20px}
.mb-24px{margin-bottom:24px}
.mb-4px{margin-bottom:4px}
.mt-10px{margin-top:10px}
.mt-30px{margin-top:30px}
.mt-40px{margin-top:40px}
.mx-auto{margin-left:auto;margin-right:auto}
.none{display:none}
.overflow-hidden{overflow:hidden}
.p-12px{padding:12px}
.p-20px{padding:20px}
.pb-8px{padding-bottom:8px}
.pb-safe{padding-bottom:env(safe-area-inset-bottom)}
.px-12px{padding-left:12px;padding-right:12px}
.px-16px{padding-left:16px;padding-right:16px}
.px-20px{padding-left:20px;padding-right:20px}
.px-30px{padding-left:30px;padding-right:30px}
.px-8px{padding-left:8px;padding-right:8px}
.py-24px{padding-top:24px;padding-bottom:24px}
.py-30px{padding-top:30px;padding-bottom:30px}
.py-4px{padding-top:4px;padding-bottom:4px}
.rounded-12px{border-radius:12px}
.rounded-20px{border-radius:20px}
.rounded-45px{border-radius:45px}
.rounded-8px{border-radius:8px}
.text-__065f46_{color:#065f46}
.text-__1e293b_{color:#1e293b}
.text-__334155_{color:#334155}
.text-__38bdf8_{color:#38bdf8}
.text-__64748b_{color:#64748b}
.text-__d14328_{color:#d14328}
.text-__ffffff_{color:#ffffff}
.text-12px{font-size:12px}
.text-13px{font-size:13px}
.text-14px{font-size:14px}
.text-15px{font-size:15px}
.text-16px{font-size:16px}
.text-20px{font-size:20px}
.text-25px{font-size:25px}
.text-32px{font-size:32px}
.text-center{text-align:center}
.text-white{color:rgba(255,255,255,var(--un-color-opacity,1))}
.w-100px{width:100px}
.w-200px{width:200px}
.w-90px{width:90px}
.w-full{width:100%}