.bg-__0f172a_{background:#0f172a}
.bg-__10b981_{background:#10b981}
.bg-__2563eb_{background:#2563eb}
.bg-__3182ce_{background:#3182ce}
.bg-__3b82f6_{background:#3b82f6}
.bg-__a855f7_{background:#a855f7}
.bg-__d1fae5_{background:#d1fae5}
.bg-__e2e8f0_{background:#e2e8f0}
.bg-__ef4444_{background:#ef4444}
.bg-__f1f5f9_{background:#f1f5f9}
.bg-__f7fafc_{background:#f7fafc}
.bg-__f8fafc_{background:#f8fafc}
.bg-__fff1f2_{background:#fff1f2}
.bg-__fff5f5_{background:#fff5f5}
.bg-purple{background-color:rgba(128,0,128,var(--un-bg-opacity,1))}
.bg-white{background-color:rgba(255,255,255,var(--un-bg-opacity,1))}
.blur{filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-opacity) var(--un-saturate) var(--un-sepia);--un-blur:blur(8rpx)}
.border{border-width:var(--un-line-width-default,1px)}
.border-__e2e8f0_{border:#e2e8f0}
.border-__f1f5f9_{border:#f1f5f9}
.border-_3px_{border:3px}
.border-b{border-bottom-width:var(--un-line-width-default,1px)}
.border-bottom-color-__f1f5f9_{border-bottom-color:#f1f5f9}
.border-bottom-color-__f8fafc_{border-bottom-color:#f8fafc}
.border-bottom-style-solid{border-bottom-style:solid}
.border-bottom-width-0px{border-bottom-width:0px}
.border-bottom-width-1px{border-bottom-width:1px}
.border-color-__cbd5e1_{border-color:#cbd5e1}
.border-color-__e2e8f0_{border-color:#e2e8f0}
.border-color-__edf2f7_{border-color:#edf2f7}
.border-color-__fecaca_{border-color:#fecaca}
.border-color-__ffe4e6_{border-color:#ffe4e6}
.border-solid{border-style:solid}
.border-style-solid{border-style:solid}
.border-t{border-top-width:var(--un-line-width-default,1px)}
.border-top-color-__e2e8f0_{border-top-color:#e2e8f0}
.border-top-color-__f1f5f9_{border-top-color:#f1f5f9}
.border-top-color-__f8fafc_{border-top-color:#f8fafc}
.border-top-style-solid{border-top-style:solid}
.border-top-width-1px{border-top-width:1px}
.border-width-1px{border-width:1px}
.fixed{position:fixed}
.flex{display:flex}
.flex-1{flex:1}
.flex-col{flex-direction:column}
.flex-row{flex-direction:row}
.font-500{font-weight:500}
.font-bold{font-weight:700}
.font-medium{font-weight:500}
.font-semibold{font-weight:600}
.h-0px{height:0px}
.h-100px{height:100px}
.h-10px{height:10px}
.h-150px{height:150px}
.h-16px{height:16px}
.h-20px{height:20px}
.h-260px{height:260px}
.h-28px{height:28px}
.h-32px{height:32px}
.h-36px{height:36px}
.h-38px{height:38px}
.h-40px{height:40px}
.h-42px{height:42px}
.h-44px{height:44px}
.h-48px{height:48px}
.h-6px{height:6px}
.h-90px{height:90px}
.h-full{height:100%}
.i_h-full{height:100% !important}
.items-center{align-items:center}
.justify-around{justify-content:space-around}
.justify-between{justify-content:space-between}
.justify-center{justify-content:center}
.justify-start{justify-content:flex-start}
.leading-16px{line-height:16px}
.leading-18px{line-height:18px}
.leading-20px{line-height:20px}
.leading-normal{line-height:normal}
.lh-1_6{line-height:1.6}
.m-16px{margin:16px}
.m-auto{margin:auto}
.max-h-180px{max-height:180px}
.mb-10px{margin-bottom:10px}
.mb-12px{margin-bottom:12px}
.mb-15px{margin-bottom:15px}
.mb-16px{margin-bottom:16px}
.mb-20px{margin-bottom:20px}
.mb-24px{margin-bottom:24px}
.mb-30px{margin-bottom:30px}
.mb-4px{margin-bottom:4px}
.mb-6px{margin-bottom:6px}
.mb-8px{margin-bottom:8px}
.ml-10px{margin-left:10px}
.ml-12px{margin-left:12px}
.ml-4px{margin-left:4px}
.ml-8px{margin-left:8px}
.mr-10px{margin-right:10px}
.mr-4px{margin-right:4px}
.mr-6px{margin-right:6px}
.mr-8px{margin-right:8px}
.mt-10px{margin-top:10px}
.mt-15px{margin-top:15px}
.mt-2px{margin-top:2px}
.mt-40px{margin-top:40px}
.mt-4px{margin-top:4px}
.mt-6px{margin-top:6px}
.mt-8px{margin-top:8px}
.mx-12px{margin-left:12px;margin-right:12px}
.mx-16px{margin-left:16px;margin-right:16px}
.mx-30px{margin-left:30px;margin-right:30px}
.mx-auto{margin-left:auto;margin-right:auto}
.my-8px{margin-top:8px;margin-bottom:8px}
.none{display:none}
.overflow-hidden{overflow:hidden}
.p-10px{padding:10px}
.p-12px{padding:12px}
.p-15px{padding:15px}
.p-16px{padding:16px}
.p-20px{padding:20px}
.p-2px{padding:2px}
.p-30px{padding:30px}
.p-4px{padding:4px}
.p-5px{padding:5px}
.pb-10px{padding-bottom:10px}
.pb-8px{padding-bottom:8px}
.pt-20px{padding-top:20px}
.pt-4px{padding-top:4px}
.pt-8px{padding-top:8px}
.px-12px{padding-left:12px;padding-right:12px}
.px-15px{padding-left:15px;padding-right:15px}
.px-16px{padding-left:16px;padding-right:16px}
.px-20px{padding-left:20px;padding-right:20px}
.px-30px{padding-left:30px;padding-right:30px}
.px-6px{padding-left:6px;padding-right:6px}
.px-8px{padding-left:8px;padding-right:8px}
.py-10px{padding-top:10px;padding-bottom:10px}
.py-12px{padding-top:12px;padding-bottom:12px}
.py-15px{padding-top:15px;padding-bottom:15px}
.py-24px{padding-top:24px;padding-bottom:24px}
.py-2px{padding-top:2px;padding-bottom:2px}
.py-30px{padding-top:30px;padding-bottom:30px}
.py-4px{padding-top:4px;padding-bottom:4px}
.py-6px{padding-top:6px;padding-bottom:6px}
.py-8px{padding-top:8px;padding-bottom:8px}
.rounded-10px{border-radius:10px}
.rounded-12px{border-radius:12px}
.rounded-14px{border-radius:14px}
.rounded-16px{border-radius:16px}
.rounded-18px{border-radius:18px}
.rounded-20px{border-radius:20px}
.rounded-24px{border-radius:24px}
.rounded-2px{border-radius:2px}
.rounded-3px{border-radius:3px}
.rounded-45px{border-radius:45px}
.rounded-4px{border-radius:4px}
.rounded-6px{border-radius:6px}
.rounded-8px{border-radius:8px}
.rounded-bl-16px{border-bottom-left-radius:16px}
.rounded-br-16px{border-bottom-right-radius:16px}
.rounded-l-16px{border-top-left-radius:16px;border-bottom-left-radius:16px}
.rounded-lg{border-radius:var(--un-radius-lg-default,8rpx)}
.rounded-r-16px{border-top-right-radius:16px;border-bottom-right-radius:16px}
.self-start{align-self:flex-start}
.shadow-sm{box-shadow:var(--un-inset-shadow,0 0 #0000),var(--un-inset-ring-shadow,0 0 #0000),var(--un-ring-offset-shadow,0 0 #0000),var(--un-ring-shadow,0 0 #0000),var(--un-shadow,0 1rpx 3rpx 0 var(--un-shadow-color,rgba(0,0,0,var(--un-shadow-opacity,0.1))),0 1rpx 2rpx -1rpx var(--un-shadow-color,rgba(0,0,0,var(--un-shadow-opacity,0.1))));--un-shadow:0 1rpx 3rpx 0rpx var(--un-shadow-color,rgba(0,0,0,var(--un-shadow-opacity,0.1))),0 1rpx 2rpx -1rpx var(--un-shadow-color,rgba(0,0,0,var(--un-shadow-opacity,0.1)))}
.text-__065f46_{color:#065f46}
.text-__1a202c_{color:#1a202c}
.text-__1e293b_{color:#1e293b}
.text-__2d3748_{color:#2d3748}
.text-__303133_{color:#303133}
.text-__334155_{color:#334155}
.text-__38bdf8_{color:#38bdf8}
.text-__475569_{color:#475569}
.text-__606266_{color:#606266}
.text-__64748b_{color:#64748b}
.text-__718096_{color:#718096}
.text-__909399_{color:#909399}
.text-__94a3b8_{color:#94a3b8}
.text-__c0c4cc_{color:#c0c4cc}
.text-__d14328_{color:#d14328}
.text-__ef4444_{color:#ef4444}
.text-__f43f5e_{color:#f43f5e}
.text-__ffffff_{color:#ffffff}
.text-_var_--theme-color__37c2bc__{color:var(--theme-color,#37c2bc)}
.text-10px{font-size:10px}
.text-11px{font-size:11px}
.text-12px{font-size:12px}
.text-13px{font-size:13px}
.text-14px{font-size:14px}
.text-15px{font-size:15px}
.text-16px{font-size:16px}
.text-20px{font-size:20px}
.text-24px{font-size:24px}
.text-25px{font-size:25px}
.text-32px{font-size:32px}
.text-center{text-align:center}
.text-white{color:rgba(255,255,255,var(--un-color-opacity,1))}
.w-100px{width:100px}
.w-10px{width:10px}
.w-150px{width:150px}
.w-15px{width:15px}
.w-200px{width:200px}
.w-20px{width:20px}
.w-28px{width:28px}
.w-32px{width:32px}
.w-36px{width:36px}
.w-4px{width:4px}
.w-6px{width:6px}
.w-90px{width:90px}
.w-full{width:100%}