.bg-__0f172a_{background:#0f172a}
.bg-__10b981_{background:#10b981}
.bg-__2563eb_{background:#2563eb}
.bg-__3b82f6_{background:#3b82f6}
.bg-__d1fae5_{background:#d1fae5}
.bg-__e2e8f0_{background:#e2e8f0}
.bg-__ef4444_{background:#ef4444}
.bg-__f1f5f9_{background:#f1f5f9}
.bg-__f8fafc_{background:#f8fafc}
.bg-transparent{background-color:rgba(0,0,0,var(--un-bg-opacity,0))}
.bg-white{background-color:rgba(255,255,255,var(--un-bg-opacity,1))}
.border{border-width:var(--un-line-width-default,1px)}
.border-__e2e8f0_{border:#e2e8f0}
.border-__f1f5f9_{border:#f1f5f9}
.border-__f8fafc_{border:#f8fafc}
.border-_3px_{border:3px}
.border-b{border-bottom-width:var(--un-line-width-default,1px)}
.border-solid{border-style:solid}
.border-t{border-top-width:var(--un-line-width-default,1px)}
.fixed{position:fixed}
.flex{display:flex}
.flex-1{flex:1}
.flex-col{flex-direction:column}
.flex-row{flex-direction:row}
.font-bold{font-weight:700}
.font-medium{font-weight:500}
.font-semibold{font-weight:600}
.h-100px{height:100px}
.h-20px{height:20px}
.h-32px{height:32px}
.h-36px{height:36px}
.h-44px{height:44px}
.h-48px{height:48px}
.h-90px{height:90px}
.i_bg-primary{background-color:var(--theme-color,#0957DE) !important}
.items-center{align-items:center}
.items-end{align-items:end}
.items-start{align-items:start}
.justify-between{justify-content:space-between}
.justify-center{justify-content:center}
.justify-end{justify-content:end}
.lh-1_6{line-height:1.6}
.m-auto{margin:auto}
.max-h-180px{max-height:180px}
.max-w-_70_f_{max-width:70%}
.mb-12px{margin-bottom:12px}
.mb-15px{margin-bottom:15px}
.mb-16px{margin-bottom:16px}
.mb-20px{margin-bottom:20px}
.mb-24px{margin-bottom:24px}
.mb-4{margin-bottom:4rpx}
.mb-4px{margin-bottom:4px}
.ml-10px{margin-left:10px}
.ml-4px{margin-left:4px}
.ml-8px{margin-left:8px}
.mr-10px{margin-right:10px}
.mr-4px{margin-right:4px}
.mt-10px{margin-top:10px}
.mt-2{margin-top:2rpx}
.mt-30px{margin-top:30px}
.mt-4{margin-top:4rpx}
.mt-40px{margin-top:40px}
.mt-4px{margin-top:4px}
.mx-auto{margin-left:auto;margin-right:auto}
.none{display:none}
.overflow-hidden{overflow:hidden}
.p-10px{padding:10px}
.p-12px{padding:12px}
.p-20px{padding:20px}
.p-5{padding:5rpx}
.pb-8px{padding-bottom:8px}
.pt-4{padding-top:4rpx}
.px-12px{padding-left:12px;padding-right:12px}
.px-15px{padding-left:15px;padding-right:15px}
.px-16px{padding-left:16px;padding-right:16px}
.px-20px{padding-left:20px;padding-right:20px}
.px-30px{padding-left:30px;padding-right:30px}
.px-8px{padding-left:8px;padding-right:8px}
.py-10px{padding-top:10px;padding-bottom:10px}
.py-2{padding-top:2rpx;padding-bottom:2rpx}
.py-24px{padding-top:24px;padding-bottom:24px}
.py-30px{padding-top:30px;padding-bottom:30px}
.py-4{padding-top:4rpx;padding-bottom:4rpx}
.py-4px{padding-top:4px;padding-bottom:4px}
.py-6px{padding-top:6px;padding-bottom:6px}
.rounded-12px{border-radius:12px}
.rounded-16px{border-radius:16px}
.rounded-18px{border-radius:18px}
.rounded-20px{border-radius:20px}
.rounded-24px{border-radius:24px}
.rounded-45px{border-radius:45px}
.rounded-8px{border-radius:8px}
.rounded-bl-16px{border-bottom-left-radius:16px}
.rounded-br-16px{border-bottom-right-radius:16px}
.rounded-l-16px{border-top-left-radius:16px;border-bottom-left-radius:16px}
.rounded-lg{border-radius:var(--un-radius-lg-default,8rpx)}
.rounded-r-16px{border-top-right-radius:16px;border-bottom-right-radius:16px}
.shadow-sm{box-shadow:var(--un-inset-shadow,0 0 #0000),var(--un-inset-ring-shadow,0 0 #0000),var(--un-ring-offset-shadow,0 0 #0000),var(--un-ring-shadow,0 0 #0000),var(--un-shadow,0 1rpx 3rpx 0 var(--un-shadow-color,rgba(0,0,0,var(--un-shadow-opacity,0.1))),0 1rpx 2rpx -1rpx var(--un-shadow-color,rgba(0,0,0,var(--un-shadow-opacity,0.1))));--un-shadow:0 1rpx 3rpx 0rpx var(--un-shadow-color,rgba(0,0,0,var(--un-shadow-opacity,0.1))),0 1rpx 2rpx -1rpx var(--un-shadow-color,rgba(0,0,0,var(--un-shadow-opacity,0.1)))}
.text-__065f46_{color:#065f46}
.text-__1e293b_{color:#1e293b}
.text-__334155_{color:#334155}
.text-__38bdf8_{color:#38bdf8}
.text-__64748b_{color:#64748b}
.text-__94a3b8_{color:#94a3b8}
.text-__d14328_{color:#d14328}
.text-__ffffff_{color:#ffffff}
.text-10px{font-size:10px}
.text-12px{font-size:12px}
.text-13px{font-size:13px}
.text-14px{font-size:14px}
.text-15px{font-size:15px}
.text-16px{font-size:16px}
.text-20px{font-size:20px}
.text-25px{font-size:25px}
.text-32px{font-size:32px}
.text-center{text-align:center}
.text-white{color:rgba(255,255,255,var(--un-color-opacity,1))}
.w-100px{width:100px}
.w-200px{width:200px}
.w-32px{width:32px}
.w-36px{width:36px}
.w-90px{width:90px}
.w-full{width:100%}