/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer components {
  .template-corpus-apply {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #9e58e9;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 26px;
  }
}

/* #ifdef H5 || WEB */
uni-tabbar,
.uni-tabbar {
  display: none !important;
}
/* #endif */
