<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <!-- 支付宝客户端应用可见性 (适配 Android 11+) -->
        <package android:name="com.eg.android.AlipayGphone" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="alipays" />
        </intent>
    </queries>
</manifest>
